<h1>UserPost#show</h1>
<%= link_to root_path do %> ホーム <% end %>

<%# ログインの有無でコメントの保存先が変わる機構 %>
<% if user_signed_in? %>
  <%# コメントにuser_idを紐づけることができるUsercommentToUserpostモデルへ投稿 %>
  <%= form_with model:[@user_post,@usercomment_to_userpost] do |f|%>
    <p> 名前：<%= f.text_field :name ,value: @user.name%></p>
    <p> コメント：<%= f.text_field :text %></p>
    <%= f.submit %>
  <% end %>
<% else %>
  <%# GuestcommentToUserpostモデルへ投稿 %>
  <%= form_with model:[@user_post,@guestcomment_to_userpost] do |f|%>
    <p>名前：<%= f.text_field :name %></p>
    <p> コメント：<%= f.text_field :text %></p>
    <%= f.submit %>
  <% end %>
<% end %>
<%# end %>

