<h1> Post#index </h1>

<% if user_signed_in? %>
  <%= link_to destroy_user_session_path , method: :delete do%>
    <p>ログアウト</p>
  <% end %>
<% else %>
  <%= link_to new_user_registration_path do%>
    <p>新規登録</p>
  <% end %>
  <%= link_to new_user_session_path do%>
    <p>ログイン</p>
  <% end %>
<% end %>

<%# 投稿先のテーブルをログインの有無で切り替えたいため %>
<% if user_signed_in? %>
  <%= link_to new_user_post_path do %>
    投稿する
  <% end %>
<% else %>
  <%= link_to new_post_path do %>
    投稿する
  <% end %>
<% end %>

<% @posts.each do |p|%>
  <p>
    投稿者:<%= p.name %>
  </p>
  <%= link_to post_path(p),method: :delete do %>
    sakujoy
  <% end %>
<% end%>

<% @user_posts.each do |p|%>
  <p>
    投稿者:<%= p.name %>
  </p>
