<h1>post/new</h1>

<%= form_with model: @post do |f| %>
  <div class= "form">ユーザーネーム：</div>
  <%= f.text_field :name %>
  <div class="form">タイトル：</div>
  <%= f.text_field :title %>
  <div class="form">テキスト：</div>
  <%= f.text_field :text %>
  <%= f.submit %>
<% end %>
