<h1>posts#show</h1>
<%= link_to root_path do %> ホーム <% end %>

<%# ログインの有無でコメントの保存先が変わる機構 %>
<% if user_signed_in? %>
  <%# コメントにuser_idを紐づけることができるUserCommentモデルへ投稿 %>
  <%= form_with model:[@post,@user_comment] do |f|%>
    <p> 名前：<%= f.text_field :name ,value: @user.name%></p>
    <p> コメント：<%= f.text_field :text %></p>
    <%= f.submit %>
  <% end %>
<% else %>
  <%# Commentモデルへ投稿 %>
  <%= form_with model:[@post,@comment] do |f|%>
    <p>名前：<%= f.text_field :name %></p>
    <p> コメント：<%= f.text_field :text %></p>
    <%= f.submit %>
  <% end %>
<% end %>
<%# end %>


<div class="title">投稿内容</div>
<p> <%= @post.title%> </p>
<p> <%= @post.text %> </p>


<% @mixed.each do |mixed| %>
  <div>
    <%= mixed.name %>
  </div>
  <div>
    <%= mixed.text %>
  </div>
<% end %>